@model IEnumerable<LojaHiper.WebApp.MVC.Models.ProdutoViewModel>

@{
    ViewData["Title"] = "Lida de produtos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-controller="Catalogo" asp-action="CadastrarProduto" class="btn btn-info">Cadastrar produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th>
                Ação
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @String.Format("{0:C}", item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estoque)
                </td>
                <td>
                    <a asp-controller="Catalogo" asp-action="ProdutoDetalhe" asp-route-id="@item.Id" class="btn btn-primary">Detalhes</a>
                    <a asp-controller="Catalogo" asp-action="AtualizarProduto" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-controller="Catalogo" asp-action="ExcluirProduto" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
            </tr>
        }
    </tbody>
</table>
